body,
html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fafafa;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}
@keyframes rotating {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: calc(100% - 10px);
  margin: 0 auto;
}

.header {
  height: 500px;
  background-image: -webkit-linear-gradient(0deg, #6553d8 0, #5c97ce 100%);
  position: relative;
}

.header-title {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-title h1 {
  font-size: 40px;
  color: #fff;
  margin: 10px 0;
}

.header-title p {
  color: #fff;
  font-size: 18px;
  margin: 5px 0;
}

.sidenav {
  height: 90px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.3s;
}

.sidenav ul {
  float: left;
  width: 70%;
  text-align: right;
  padding: 20px 10px;
}

.sidenav ul li {
  display: inline-block;
  font-size: 17px;
}

.sidenav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 17.5px;
  margin: 5px 2.5px;
  border-radius: 4px;
  transition: 0.3s;
}

.sidenav ul li a:hover {
  background: #19affa;
  color: #fff;
  box-shadow: 0 7px 25px 0 rgba(25, 175, 250, 0.65);
}

.sidenav-logo {
  float: left;
  width: 30%;
}

.sidenav-logo .sidenav-logo-white,
.sidenav-logo .sidenav-logo-blue {
  margin: 22.5px 0px;
  height: 35px;
  width: 205px;
}

.sidenav-logo-blue {
  display: none;
}

.sidenav-fix {
  background-color: #fff;
  box-shadow: 1.5px 2.598px 4px 0 rgba(94, 102, 102, 0.1);
  border-bottom: 1px solid #e0e3e5;
}

.sidenav-fix ul li a {
  color: #4a5163;
}

.sidenav-fix .sidenav-logo-blue {
  display: block;
}

.sidenav-fix .sidenav-logo-white {
  display: none;
}

.block {
  display: flex;
}

.block-half {
  width: 50%;
}

.article-left {
  color: rgba(0, 0, 0, 0.801);
  padding: 20px 0px;
}

.article-left h2 {
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: 100;
}

.article-left h3 {
  font-size: 22px;
  font-weight: 100;
}

.btn-blue {
  position: relative;
  text-align: center;
  background-image: linear-gradient(-180deg, #01a8fe 0, #1a76b8 100%);
  padding: 17px 80px;
  padding-left: 100px;
  color: #eff7fd;
  border: 0px;
  border-radius: 6px;
  box-shadow: -5px 10px 34px -8px rgba(0, 0, 0, 0.75);
}

.btn-left-icon {
  position: absolute;
  left: 15px;
  top: 13.5px;
  fill: #fff;
  animation: rotating 3s linear infinite;
}

.btn-line {
  position: absolute;
  top: 18.5px;
  right: 20px;
  fill: #fff;
  transition: 0.1s;
}

.btn-blue:hover .btn-line {
  right: 10px;
}

.btn-blue-2 {
  padding-left: 70px;
}